<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Test symfony 5">
    <meta name="author" content="Integrateur">
    <title>{% block title %} Test intégration symfony | {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/slick.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/slick-theme.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/responsive.css') }}" />
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        {% include 'frontoffice/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'frontoffice/footer.html.twig' %}
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('frontoffice/js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/tooltip.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/custom.js') }}"></script>
    {% endblock %}
</body>
</html>