@media screen and (max-width: 991px){
    ul.navbar-nav.menu-header{text-align: center;}
}
@media screen and (max-width: 767px){
    .banner{padding: 50px 0; text-align: center;}
    .intro-banner h1{font-size: 50px;}
    .img-banner{margin-top: 0;}
    .content-valeur h3{font-size: 47px;}
    .img-about {margin-top: 50px;}
}