* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-Ligth.ttf');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-LigthItalic.ttf');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;

}

body{font-family: 'Open Sans', sans-serif !important;}
.wrapper{ width:100%;}
img{max-width: 100%;}
.img-responsive{width: 100% !important;}
ul{list-style: none; padding:0; margin: 0;}
.relative{position: relative;}
.absolute{position: absolute;}
.navbar-header {background: #d9d9d9;}
.menu-header {margin: 0 auto;}
.menu-header li {padding-right: 35px;}
.menu-header li a {font-size: 15px;font-weight: 600;color: #000 !important; transition: 0.5s;}
.menu-header li.active a{color: #f4cc5b !important; text-decoration: underline;}
.menu-header li a:hover{color: #f4cc5b !important; text-decoration: underline;}
.banner{background: url("../images/background-header_.png") no-repeat center center; background-size: cover; height: 625px;}
.intro-banner h1 {font-size: 70px;font-weight: 900;color: #000;}
.intro-banner p {font-size: 16px;font-weight: 600;color: #fff;}
.img-banner {margin-top: 70px;}
.valeur {padding: 35px 0;}
.content-valeur h3 {font-size: 55px;font-weight: 900;display: inline-block;font-family: 'Caveat', cursive;position: relative;margin-bottom: 30px;}
.content-valeur h3:after {content: '';position: absolute;background: #cd9c32;color: #cd9c32;width: 100px;height: 3px;bottom: -10px;right: 0;}
.content-valeur p {font-size: 16px;color: #000;font-weight: 700;}
.content-valeur span {font-size: 14px;color: #959595;font-weight: 600;display: inline-block;}
.btn-page a {display: inline-block;color: #cd9c32;border: solid 2px #cd9c32;border-radius: 10px;padding: 10px 30px;text-decoration: none !important; transition: 0.5s;}
.btn-page a:hover{background: #cd9c32; color: #fff;}
.btn-page {margin-top: 30px;}
.content-equipe h3:after{left: 0; right: initial;}
.equipe {padding: 80px 0;}
.title-service h3 {font-size: 55px;font-weight: 900;display: inline-block;font-family: 'Caveat', cursive;position: relative;margin-bottom: 30px;}
.title-service h3:after { content: '';position: absolute;background: #cd9c32;color: #cd9c32;width: 100px;height: 3px;bottom: -10px;right: 0;left: 0;margin: 0 auto;}
.list-service {background-image: linear-gradient(to right, #fd7c04 , #8781bd, #fd7c04);}
.content-service img {width: 100%;height: 317px;object-fit: cover;}
.content-service span {display: inline-block;text-transform: uppercase;color: #fff;font-size: 25px;font-weight: 700;margin-top: 30px;}
.list-service .col-md-3:not(:last-child){border-right: solid 5px #fff;}
.list-service .col-md-3{padding: 50px 0;}
.about {padding: 80px 0;}
.content-about p {color: #7e7e7e;font-weight: 600;}
.btn-about a {border: solid 2px #fe7c01;border-radius: 0;padding: 10px 60px;}
.btn-about a:hover{background: #fe7c01; }
.img-about img{height: 304px;object-fit: cover;}