{% extends 'frontoffice/base.html.twig' %}

{% block title %}{{ parent() }} Acceuil {% endblock %}

{% block body %}
	<section class="banner relative">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="intro-banner">
						<h1>Lorem ipsum</h1>
						<p>
							Lorem ipsum est simplement un texte<br/>
							factice de l'industrie de l'impréssion et de la composition.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-banner">
						<img src="{{ asset('frontoffice/images/img-header-1.png') }}" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="valeur">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-valeur">
						<img src="{{ asset('frontoffice/images/img-div-1.png') }}" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="content-valeur text-right">
						<h3>Nos valeurs</h3>
						<p>
							Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard
							de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
						</p>
						<span>
                                C'est un fait établi depuis longtemps qu'un lecteur sera distrait par le contenu lisible d'une page lorsqu'il regarde sa mise en pages.
                            </span>
						<div class="btn-page">
							<a href="#">Lorem ipsum</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="equipe">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="content-valeur content-equipe">
						<h3>Notre equipe</h3>
						<p>
							Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard
							de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
						</p>
						<span>
                                C'est un fait établi depuis longtemps qu'un lecteur sera distrait par le contenu lisible d'une page lorsqu'il regarde sa mise en pages.
                            </span>
						<div class="btn-page">
							<a href="#">Lorem ipsum</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-valeur">
						<img src="{{ asset('frontoffice/images/img-div-2.png') }}" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service">
		<div class="container">
			<div class="title-service text-center">
				<h3>Nos services</h3>
			</div>
		</div>
		<div class="list-service">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="content-service text-center">
							<img src="{{ asset('frontoffice/images/img-nos-services-1-.png') }}" class="img-fluid" alt="">
							<span>web design</span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="content-service text-center">
							<img src="{{ asset('frontoffice/images/img-nos-services-2.png') }}" class="img-fluid" alt="">
							<span>Dev web</span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="content-service text-center">
							<img src="{{ asset('frontoffice/images/img-nos-services-3.png') }}" class="img-fluid" alt="">
							<span>Dev mobile</span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="content-service text-center">
							<img src="{{ asset('frontoffice/images/img-nos-services-4.png') }}" class="img-fluid" alt="">
							<span>Graphique</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="content-valeur content-equipe content-about">
						<h3>A propos de nous</h3>
						<p>
							Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard
							de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
						</p>
						<div class="btn-page btn-about">
							<a href="#">Lorem ipsum</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-valeur img-about">
						<img src="{{ asset('frontoffice/images/img-nos-realisation-1.png') }}" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}